@model Do_An_WTT.Models.KHACHHANG
<a href="@Url.Action("GioHang", "GioHang")" style="color: white; font-weight: bold; text-decoration: none"> 
    <img style="width: 40px" src="~/Content/images/shopping_cart.png" /> Cart (@ViewBag.Tongsoluong)
</a>
