
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutFishStore.cshtml";
}

<!-- gallery -->
<div class="gallery">
    <div class="container">
        <h3 class="agileits-title">Our Gallery</h3>
        <div class="gallery-agileinfo">
            <div class="col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/g1.jpg" class="imghvr-hinge-right figure">
                    <img src="~/Content/images/g1.jpg" alt="" title="Pets Care Image" />
                    <div class="agile-figcaption">
                        <h4>Pets Care</h4>
                        <p>Add Some Description</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/g2.jpg" class="imghvr-hinge-right figure">
                    <img src="~/Content/images/g2.jpg" alt="" title="Pets Care Image" />
                    <div class="agile-figcaption">
                        <h4>Pets Care</h4>
                        <p>Add Some Description</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/g3.jpg" class="imghvr-hinge-right figure">
                    <img src="~/Content/images/g3.jpg" alt="" title="Pets Care Image" />
                    <div class="agile-figcaption">
                        <h4>Pets Care</h4>
                        <p>Add Some Description</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/g4.jpg" class="imghvr-hinge-right figure">
                    <img src="~/Content/images/g4.jpg" alt="" title="Pets Care Image" />
                    <div class="agile-figcaption">
                        <h4>Pets Care</h4>
                        <p>Add Some Description</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/g5.jpg" class="imghvr-hinge-right figure">
                    <img src="~/Content/images/g5.jpg" alt="" title="Pets Care Image" />
                    <div class="agile-figcaption">
                        <h4>Pets Care</h4>
                        <p>Add Some Description</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/img1.jpg" class="imghvr-hinge-right figure">
                    <img src="~/Content/images/img1.jpg" alt="" title="Pets Care Image" />
                    <div class="agile-figcaption">
                        <h4>Pets Care</h4>
                        <p>Add Some Description</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>

        </div>
    </div>
</div>
<!-- //gallery -->
<!-- w3-agilesale -->
<div class="w3-agilesale welcome">
    <div class="container">
        <h3 class="agileits-title two">Pet Adoption. Be Part of Something <span>Beautiful!</span></h3>
        @Html.ActionLink("Contact Us", "Contact", "FishStore", new { @class = "button button-isi" })
    </div>
</div>
<!-- //w3-agilesale -->
