
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFishStore.cshtml";
}

<!-- welcome -->
<div class="welcome agileits">
    <div class="container">
        <div class="welcome-w3lsrow">
            <div class="col-md-5 col-sm-5 w3welcome-left">
                <div class="w3welcome-text">
                    <h5 class="w3l-subtitle">Who We Are</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus
                        efficitur in, auctor eget elit. Lorem ipsum dolor sit amet
                    </p>
                    <a href="#" class="button button-isi"><span>Read More</span><i class="icon glyphicon glyphicon-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 w3welcome-img">

            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="welcome-w3lsrow2">
            <div class="col-sm-3 team-grid">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <img src="~/Content/images/img2.jpg" alt="" />
                        </div>
                        <div class="back">
                            <h4>Peter Parker</h4>
                            <p>Pet Lover</p>
                            <div class="w3l-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 team-grid">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <img src="~/Content/images/img3.jpg" alt="" />
                        </div>
                        <div class="back">
                            <h4>Steven Wilson</h4>
                            <p>Pet Lover</p>
                            <div class="w3l-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 team-grid">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <img src="~/Content/images/img4.jpg" alt="" />
                        </div>
                        <div class="back">
                            <h4>Johan Botha</h4>
                            <p>Pet Lover</p>
                            <div class="w3l-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 team-grid">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <img src="~/Content/images/img5.jpg" alt="" />
                        </div>
                        <div class="back">
                            <h4>Mary Jane</h4>
                            <p>Pet Lover</p>
                            <div class="w3l-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //welcome -->
<!-- /services -->
<div class="agile_secives " id="services">
    <div class="container">
        <h3 class="agileits-title two">What we Do</h3>
        <div class="markets-grids">
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Fish swimming</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Fish swimming</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Fish swimming</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-flask" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Fish swimming</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Veterinary Help</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Visiting Hours</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- about -->
<div class="services">
    <div class="container">
        <h3 class="agileits-title">Need More Services?</h3>
        <div class="top_tabs_agile">
            <div id="horizontalTab" class="top_tabs_agile">
                <ul class="resp-tabs-list">
                    <li>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Fish Health Care
                    </li>
                    <li>
                        <i class="fa fa-random" aria-hidden="true"></i> Pet Vaccinations
                    </li>
                    <li>
                        <i class="fa fa-cogs" aria-hidden="true"></i> Support Adoption
                    </li>
                    <li>
                        <i class="fa fa-shield" aria-hidden="true"></i>Pet Barber Service
                    </li>
                </ul>
                <div class="resp-tabs-container">
                    <div class="tab1">
                        <div class="services-right-agileits">
                            <h4>Fish Health Care</h4>
                            <p class="para-agileits-w3layouts">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit et dui ut cursus. Ut tortor nisi, congue quis
                                orci at, posuere mattis est. Nunc sollicitudin nisi lorem, eget aliquet leo scelerisque eu. Cras placerat, ligula
                                nec bibendum aliquam, nibh massa venenatis leo, at convallis sem est a sapien.consectetur adipiscing elit
                            </p>
                            <a href="#" class="button button-isi"><span>Read More </span><i class="icon glyphicon glyphicon-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="tab2">
                        <div class="services-right-agileits bar-grids bargrids-left">
                            <h4>Pet Vaccinations </h4>
                            <h6>Vaccination 1 <span> 80% </span></h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" style="width: 80%">
                                </div>
                            </div>
                            <h6>Vaccination 2 <span> 70% </span></h6>
                            <div class="progress  w3-agile">
                                <div class="progress-bar progress-bar-striped active" style="width: 70%">
                                </div>
                            </div>
                            <h6>Vaccination 3<span>90% </span></h6>
                            <div class="progress  w3-agile">
                                <div class="progress-bar progress-bar-striped active" style="width: 90%">
                                </div>
                            </div>
                            <h6>Vaccination 4<span> 75% </span></h6>
                            <div class="progress  w3-agile prgs-w3agile-last">
                                <div class="progress-bar progress-bar-striped active" style="width: 75%">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab3">
                        <div class="services-right-agileits img-top">
                            <h4>Support Adoption</h4>
                            <p class="para-agileits-w3layouts">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit et dui ut cursus. Ut tortor nisi, congue quis
                                orci at, posuere mattis est. Nunc sollicitudin nisi lorem, eget aliquet leo scelerisque eu. Cras placerat, ligula
                                nec bibendum aliquam, nibh massa venenatis leo, at convallis sem est a sapien.consectetur adipiscing elit
                            </p>
                            <a href="#" class="button button-isi"><span>Read More </span> <i class="icon glyphicon glyphicon-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="tab4">
                        <div class="services-right-agileits">
                            <h4>Pet Barber Service</h4>
                            <p class="para-agileits-w3layouts">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit et dui ut cursus. Ut tortor nisi, congue quis
                                orci at, posuere mattis est. Nunc sollicitudin nisi lorem, eget aliquet leo scelerisque eu. Cras placerat, ligula
                                nec bibendum aliquam, nibh massa venenatis leo, at convallis sem est a sapien.consectetur adipiscing elit
                            </p>
                            <a href="#" class="button button-isi"><span>Read More </span> <i class="icon glyphicon glyphicon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- w3-agilesale -->
<div class="w3-agilesale welcome">
    <div class="container">
        <h3 class="agileits-title two">Pet Adoption. Be Part of Something <span>Beautiful!</span></h3>
        @Html.ActionLink("Contact Us", "Contact", "FishStore", new { @class = "button button-isi" })
    </div>
</div>
<!-- //w3-agilesale -->
